{% extends 'base.html.twig' %}

{% block title %}Mot de Passe Oublié !?!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="container containerForm">
			<h1 class=" text-decoration-underline my-5">Mot de Passe Oublié</h1>

			{{form(forgotPasswordForm)}}
			</div>
		</div>
	{% endblock %}
