{% extends 'base.html.twig' %}

{% block title %}Reset mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<div class="container containerForm">
			<h1 class=" text-decoration-underline my-5">Réinitialisons votre mot de passe.</h1>
			{{form(form)}}
			</div>
		</div>
	{% endblock %}
