


<ul class="nav flex-column row-gap-3 p-3 rounded bg-info-subtle">
<li>Bonjour <span class="text-capitalize">{{ app.user.firstname }}</span></li>
	<li class="nav-item">
		<a href="{{ path('app_account') }}">Mes commandes</a>
	</li>
	<li class="nav-item">
		<a href="#">Mes adresses</a>
	</li>
	<li class="nav-item">
		<a href="#">Modifier email</a>
	</li>
	<li class="nav-item">
		<a href="#">Modifier nom/prénom</a>
	</li>
	<li class="nav-item">
		<a href="{{ path('app_account_modify_pwd') }}">Modifier mon mot de passe</a>
	</li>
	<li class="nav-item">
		<a href="{{ path('app_logout') }}">Me déconnecter</a>
	</li>
</ul>
