{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h1 class="text-center text-decoration-underline my-5">Modifier mon mot de passe</h1>

		{# 1 formulaire #}
		{{ form(modifyPwd) }}

		{# mdp actuel #}
		{# le vérifier avec DB #}


		{# nouveau mdp #}
		{# confirmer nouveau mdp #}
		{# MAJ en DB #}


		{# Notification de confirmation de la modification #}

	</div>
{% endblock %}
