<div class="col-md-3">
	<img src="/uploads/illustrations/{{ product.illustration }}" alt="" class="img-fluid">
	<div class="text-center fw-bold text-capitalize">{{ product.name }}</div>
	<div class="text-center">{{ product.pricewt }}</div>
	{# {{ dump(product) }} #}
</div>
